OriginalCode
**/*.txt
**/*.mp3
**/*.pdf
**/echo
**/*.jpg
**/*.png
**/*.wav
**/*.bin
**/slick
**/*.jpeg
!Report.pdf
!Diagrams/cp2.png
!Diagrams/cp1.jpg
!Diagrams/graph.png
!Diagrams/min.png